@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@900&display=swap');
:root{
    --modal-duree:1s;
    --primary-color:#343362;
    --secondary-color:#ad36cc;
}
*{
box-sizing: border-box;
}
body{
    font-family: 'Lato',sans-serif;
    margin: 0;
    transition:transform 0.3s ease;
}
nav{
    background-color: var(--primary-color);
    border-right: 2px solid rgba(0, 0, 0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
     transform: translateX(-100%); 

}

nav .logo{
    padding: 30px 0px;
    text-align: center;

}
nav .logo img{
    height: 75px;
    width: 75px;
    border-radius: 50%;

}
nav ul{
    padding: 0;
    list-style: none;
    margin: 0;
}
nav ul li{
   

    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
width: 98%;
padding: 20px;
}
nav ul li:first-of-type{
    border-top: 2px solid rgba(0, 0, 0, 0.3);


}
nav ul li a{
    color: white; 
    text-decoration: none;
}
body.show-nav{
    
       transform: translateX(200px); 
}
header {
    background-color: var(--primary-color);
    color: white;
    font-size: 130%;
    position: relative;
    padding: 40px 15px;
    text-align: center;
}
header h1{
    margin: 0;
    font-size: 5em;
    font-weight: 900;
}
header p{
    margin: 30px 0;
}
button,input[type='submit']{
    background-color: var(--secondary-color);
    border:0 ;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 12px;

}
button :focus{
    outline: none;
}
#toggle{
    position: absolute;
    top: 20px;
    left: 20px;
}
.cta-btn{
    padding:12px 30px;
    font-size: 20px;
}
.container{
    padding: 15px;
    max-width: 100%;
    width: 800px ;
    margin: 0 auto;
}
/* Modal */
.modal-container{
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#modal.show-modal{
    display: block;

}
.modal{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    animation-name: modalOpen;
    animation-duration: var(--modal-duree);

}
.modal-header{
    background-color: var(--primary-color);
    color: white;

}


.modal-header h3{
    margin: 0;
    border-bottom: 1px solid var(--primary-color);
    
}
.modal-content{
    padding: 20px;

}
.modal form div{
margin: 15px 0;
}
.modal form label{
    display: block;
    margin-bottom: 5px;
}
.modal form .form-input{
    width: 100%;
}
.close_btn{
    
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
}
/* Creation animation modalOpen */
@keyframes modalOpen{
    from{ 
        opacity: 0;
        transform: scale(0);
      }

    to{
       opacity: 1 ;
       transform: scale(2);
       /* transform: translate(-50% ,-50%); */
    }
}  