*{
    box-sizing: border-box;
    
 
    

}
i{
    cursor: pointer;
}
body{
    border-radius:2px ;
    height: 100vh auto;
    min-height: 80vh;
  

 
}
.container{
    box-shadow:10px 5px 10px 15px rgba(0, 0, 0, 0.3);
   margin-left: 35%;
   margin-top: 1%;
    position: relative;
    width: 28%;
    overflow: hidden;
    }

header{
    display: flex;
  align-items: center;
    justify-content: center;
    height: 20%;
    
  
 /*   border: solid 2px red;  */
    
}
.imgFav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block{
    display: flex;
  

}
.block img{
    width: 30% ;
    height: 50%;
    border-radius: 50%;
   
}
header i{
    
    color: #c3bcbcee;
    margin-left: 2%;
    margin-top: 2%;

}
header input{
    background-color: #eeeeee;
    border: none;
    padding: 1%;
    outline: none;
    border-radius: 12px;
    margin-top: 2%;
}

.favorite{
    height: 30%;
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0e2fd;
    margin: 2%;
    

}
.favorite h5{
    font-size: 2em;

}
.favorite span{
    font-size: 1.5rem;

    
}

.recette-generer{
    height: 35%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 2% 0 2%;


}

.recette-generer img{
    width: 100%;
}
.recette-generer button{
    position: absolute;
   left: 2%;
    top: 4%;
    padding: 2%;
  
  
}

.titlePopup{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

   
   
}
.titlePopup i{
    margin-right: 2%;
    color: #c3bcbcee;

}
.popup {
border: 4px solid #797877;
border-bottom:none ;
background-color: white;
position: absolute;
top: 0;
height: 100%;
width: 100%;
visibility: hidden; 
overflow: auto;
  

   
}
.popup.show{
    visibility: visible;
   animation-name: hinge;
   animation-duration: 1s;

}
@keyframes hinge {
    0% {
      transform: rotate(0);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    20%,
    60% {
      transform: rotate(80deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    40% {
      transform: rotate(60deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    80% {
      transform: rotate(60deg) translateY(0);
      opacity: 1;
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: translateY(700px);
      opacity: 0;
    }
  }
  

.popup .entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
 


}

.popup .entete h3{
    margin-left: 25%;
    font-size: 2rem;
}
.popup .entete  i{
  padding: 2%;
}
.imgPop {
    margin: 2%;
}
.imgPop p {
   overflow: auto;
   height: 30%;
}
.imgPop img{
text-align: center;
width: 100% ;
}
button{
    cursor: pointer;
}