@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@900&display=swap');
*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    display: flex;
    height: 100vh;
    padding: 0;

}
nav
{
    
  
    height: 100%;
    transition: all 0.5s ease-in-out;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    background-color: #353a3f;
    font-size: 20px;

    color: white;
    
}
i{
    cursor: pointer;
}
nav img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 2% 4% 2% 0;
    
   
}

nav input{
    width: 80%;
    height: 40px;
    background-color: #41474d;
    
    border: solid #8b9298 1px;
    outline: none;

}
nav .entete{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom:solid #8b9298 1px;
  

  
}
nav .search{

border-bottom: none;
margin-top: 2%;
}
ul{
    display: flex;
   font-size: 3rem;
    width: 350px;
    flex-direction: column;

  
}
li{
    display: flex;
   font-size: 25px;
    margin: 0;
    padding: 10%;
    width: 100%;
 align-items: center;
 cursor: pointer;

  



}
ul li .icon1{
    display: flex;
    flex: 1;
   
     display: flex;
     justify-content: center;
     align-items: center;
 }

ul li .text{
    display: flex;
    align-items: center;
    flex: 10;
    margin-left: 2%;
}
ul li .text .nomMenu{
    display: flex;
    flex: 1;
}

header
{
    width: 75%;
    transition: all 0.5s ease-in-out;
    position: relative;
  
}

 #toggle{
     position: absolute;
     top:0;
     left: 0;
     background-color: greenyellow;

 }


.new{
    margin-right: 4%;
    border-radius: 4px;
    padding: 2%;
}
.hide
{
    transform: translateX(-50%);
}
.text.close{
    display: none;

}
.icon1.close{
    display: flex;
    margin-left: 50%;
}
nav .open.close{

    display: none;
}
nav img.close{
    margin-left: 50%;

}

header.topp
{
transform: translateX(-13%);

}
.rotate{
    transform: rotate(-90deg);

}
.click:active{
    background-color:#2f7df6 ;
    border-radius: 6px;
    border-left: solid 2px red;

}
.click:hover{
    background-color:#2f7df6 ;
    border-radius: 6px;
    border-left: solid 2px red;

}
