@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato',sans-serif;
    margin: 0;
    transition:transform 0.3s ease;
    
}
nav{
   position: fixed; 
     top: 0;
     left: 0;
    width: 300px;
    height: 100vh;
    border-right: 2px solid rgba(0, 0, 0,0.3);
    background-color: aqua;
    z-index: 100;
    transform: translateX(-100%); 
      
  
}
header{
    position: relative;
    padding: 40px 15px;
    text-align: center;
}
#toggle{
    position: absolute;
    top: 20px;
    left: 20px;
}